.section {
  display: grid;
  align-content: center;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    div {
      padding: 15px 25px;
      border-radius: 5px;
      &:hover {
        background-color: #ffffff;
      }
    }
  }
}
