.section {
  display: grid;
  align-content: flex-start;
  width: 100%;

  .wrapper {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
  }
}
