.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgb(239, 239, 239);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 35px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.navList {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }

  li {
    a {
      color: black;
      font-weight: 500;
      text-decoration: none;
    }

    .activeLink {
      text-decoration: underline;
      font-weight: 800;
    }
  }
}
