.section {
  display: grid;
  align-content: center;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;

    .card {
      display: flex;
      min-width: 400px;
      min-height: 200px;
      border: 2px solid #f0f0f0;
      padding: 15px 25px;
      border-radius: 5px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }

      div:first-child {
        height: 200px;
        width: 40%;
        background-color: lightcyan;
      }
      div:nth-child(2) {
        height: 200px;
        width: 60%;
        background-color: lightblue;
      }
    }
  }
}
