.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 300px;
  padding: 10px;
  border-radius: 5px;

  .card {
    display: flex;
    min-width: 400px;
    min-height: 200px;
    border: 2px solid #f0f0f0;
    padding: 15px 25px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }

    > div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 250px;
      flex: 1 1 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      width: 280px;

      > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 6px 15px;
      }

      > div:first-child {
        font-weight: bold;
      }
    }
  }
}
